@section head{
    <script type="text/javascript" language="javascript">
        var AR = {} || AR;

        AR.url = '/api/values';

        AR.getRandomInt = function() {
            var min = Math.ceil(1);
            var max = Math.floor(10000);
            return Math.floor(Math.random() * (max - min)) +
                min; //The maximum is exclusive and the minimum is inclusive
        }

        AR.getWithInlinePromise = function() {
            $.when($.getJSON(AR.url,
                {},
                function(data, textStatus) {
                    console.log(data);
                })).done(function() {
                console.log('getValue done...');
            }).then($.getJSON(AR.url + '/' + AR.getRandomInt(),
                {},
                function(data, textStatus) {
                    console.log(data);
                })).done(function() {
                console.log('getValueById done..');
            });
        };


        AR.getWithPromise = function() {
            $.when($.Deferred(AR.getValue)).done(function() {
                console.log('getValue done...');
            }).then($.Deferred(AR.getValueById)).done(function() {
                console.log('getValueById done...');
            });
        };

        AR.getValue = function() {
            console.log('getValue start...');
            $.getJSON(AR.url,
                {},
                function(data, textStatus) {
                    console.log(data);

                    //AR.getValueById();
                });
        };

        AR.getValueById = function() {
            console.log('getValueById start...');

            $.getJSON(AR.url + '/' + AR.getRandomInt(),
                {},
                function(data, textStatus) {
                    console.log(data);
                });
        };


    </script>
}

<div>Interesting is under the hood.</div>